<!DOCTYPE html>
<html ng-app="parserApp">
  <head>
    <meta charset="utf-8">
    <title>Spent Parser</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet"  type="text/css">
    <link href="css/general.css" rel="stylesheet"  type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>Spent Parser</h1>
      <div ng-controller="parseController as parser">
        <div class="uploader">
          <input type="file" ng-model="parser.csvFile">
          <button ng-click="parser.parse()">Parse</button>
        </div>
        <div ng-repeat="rows in parser.rows">
          <div>{{rows.data}}</div>
          <div>{{rows.ref}}</div>
          <div>{{rows.payee}}</div>
          <div>{{rows.address}}</div>
          <div>{{rows.amount}}</div>
          <hr>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js">
    <script src="js/papaparse.min.js" type="text/javascript"></script>
    <script src="js/parser.js" type="text/javascript"></script>
  </body>
</html>
