/*/////////////////////////////////////////*/
/* Variables */
/*/////////////////////////////////////////*/

$text-1: #333;
$rule: #eee;
$fill: #f5f5f5;

$spent-error: #dd514c;
$spent-status: #0088cc;
$spent-success: #4dc142;

/*/////////////////////////////////////////*/
/* General */
/*/////////////////////////////////////////*/

body {
  padding-top: 70px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
  color: #333;
}

.container {
  min-height: 500px;
  padding: 0 30px;

  &.loading {
    background: url('/img/loading.gif') no-repeat center center;
  }
}

h1 {
  display: block;
  margin: 0 0 20px 0;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.1em;
}

/*/////////////////////////////////////////*/
/* Input */
/*/////////////////////////////////////////*/

.uploader {
  padding: 15px;
  border: 1px solid $rule;
  background: $fill;
}

input[type=file] {
  position: relative;
  top: -2px;
  display: inline-block;
  margin: 0;
  padding: 8px;
  border: 1px solid $rule;
  background: #fff;
}

button {
  display: inline-block;
  border: none;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  background: #333;
  border-radius: 2px;
}

/*/////////////////////////////////////////*/
/* Receipts List */
/*/////////////////////////////////////////*/

.receipts {
  padding-top: 5px;

  .row {
    padding: 10px;
    border-bottom: 1px solid $rule;

    &.header {
      font-weight: 800;
      padding: 10px 9px;
      border: 1px solid $rule;
      background: $fill;
    }

    &.changed {
      background: lighten($spent-status, 58%);
    }

    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }

  .cell {
    float: left;
    position: relative;
    display: block;
    width: 20%;

    .content {
      display: block;
      padding: 5px;
      cursor: default;
    }
  }
}

/*/////////////////////////////////////////*/
/* Tooltip */
/*/////////////////////////////////////////*/

.tooltip {
  display: none;
  position: absolute;
  left: -2px;
  bottom: 36px;
  width: 300px;
  padding: 15px 15px 17px 15px;
  background: #fff;
  font-size: 14px;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);

  &.show {
    display: block;
  }

  &:before {
    position: absolute;
    bottom: -8px;
    left: 14px;
    display: inline-block;
    border-top: 8px solid rgba(0, 0, 0, 0.1);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
  }

  &:after {
    position: absolute;
    bottom: -6px;
    left: 16px;
    display: inline-block;
    border-top: 6px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: '';
  }

  strong {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
  }
}

/*/////////////////////////////////////////*/
/* Status Messages */
/*/////////////////////////////////////////*/

.messages-wrap {
  padding-top: 5px;

  .messages {
    margin: 0;
    padding: 20px;

    &.error {
      background: lighten($spent-error, 8%);
      color: darken($spent-error, 25%);
    }

    &.status {
      background: lighten($spent-status, 40%);
      color: darken($spent-status, 15%);
    }

    .message {
      margin: 0 0 5px 20px;

      &:first-child {
        margin: 0 0 7px 0;
        padding: 0;
        font-weight: 700;
        list-style: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/*/////////////////////////////////////////*/
/* Tests */
/*/////////////////////////////////////////*/

ul.tests {
  width: 600px;
  margin: 0 auto;
  padding: 0;

  li {
    padding: 30px 0;
    border-bottom: 1px solid #eee;
    list-style: none;
  }

  .test {
    margin-left: 5px;
    font-weight: bold;

    &.Pass {
      color: $spent-success;
    }

    &.Fail {
      color: $spent-error;
    }
  }
}
